# Logs
logs
node_modules
dist
*.sw?
# dotenv environment variables files
.env
.env.*
.env.local
.env.development.local
.env.production.local
.env.test.local
package-lock.json
package-lock.json
node_modules/
